[submodule "ebolaCoin/lib/forge-std"]
	path = ebolaCoin/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ebolaCoin/lib/openzeppelin-contracts"]
	path = ebolaCoin/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
